@import "../../../global.scss";

.profile_box {
  display: flex;
  height: 100%;
  align-items: center;
  font-weight: 700;
}

.profile_icon_box {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  border-radius: 100%;
  overflow: hidden;

  &:hover {
    background-color: $hover-color;
  }

  .profile_icon {
    height: 60%;
    fill: $accent-color;
  }
}

[isactive="true"],
[isactive="true"]:hover {
  background-color: $accent-color;
  .profile_icon {
    fill: $dark-background-color;
  }
}

.auth_link {
  text-decoration: none;
  color: $dark-background-color;
  &:hover {
    color: grey;
  }
}
.auth_link_active {
  color: grey;
}

@media only screen and (max-width: $mobile-width) {
.profile_icon_box {
  height: 40px;
  width: 40px;
}
}
