//dark mode colors
$accent-color: rgb(208, 245, 211);
$dark-background-color: rgb(68, 68, 68);
$dark-text-color: rgb(230, 230, 230);

//light mode colors
$light-background-color: rgb(230, 230, 230);
$light-text-color: rgb(68, 68, 68);


