@import './global.scss';

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $dark-background-color;
  color: $dark-text-color
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: $accent-color;
  text-decoration: none;
}

